rules_version = '2';
service firebase.storage {
match /b/{bucket}/o {
match /{allPaths=**} {
// Allow read/write access for local testing
allow read, write: if true;
}
}
}